.our-trip {
    &__inner {
        position: relative;
    }
    &__body {
        width: 50%;
        height: 100%;
        margin-right: auto;
        padding-right: 55px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title {
        span {
            margin: -30px 0 0 228px;
        }
    }
    &__list {
        margin: 5px 0;
        font-size: 24px;
        line-height: 28px;
        word-wrap: break-word;
        li:first-child {
            font-family: 'RobotoCondensed-Regular';
            margin-bottom: 20px;
        }
    }
    &__slider {
        width: 50%;
        margin-left: auto;
    }
    &__btn {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 28px;
        background: transparent;
        border: 1px solid #E2AB3F;
        padding: 11px 53px;
    }
}